@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Press+Start+2P&family=Staatliches&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  
  background-color: RGB(32, 32, 32);
  padding-bottom: auto;
  border: 2px solid RGB(122, 111, 254);
  
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
nav {
  background-color: RGB(32, 32, 32);
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-bottom: 2px solid RGB(122, 111, 254);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30vw;
}
.items {
  display: flex;
  gap: 80px;
}

.item-list {
  list-style: none;
}
.logo {
  width: 80px;
  height: 80px;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  color: RGB(232, 231, 231);
}

.bodypart {
  margin-top: 3vh;
  margin-bottom: 8.5vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.overpass-mono {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  font-size: 60px;
  color: RGB(122, 111, 254);
  opacity: 0;
  animation: in 3s ease-out forwards;
  animation-delay: 1s;
}
@keyframes in {
  0% {
    letter-spacing: -12px;
    opacity: 0;
  }
  30% {
    letter-spacing: 2px;
    opacity: 1;
  }
  100% {
    letter-spacing: 13px;
    opacity: 1;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: RGB(140, 255, 241);
  }
}
.overpass-mono-style {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  font-size: 40px;
  color: RGB(140, 255, 241);
  padding-top: 15px;
  overflow: hidden;
  border-right: 0.15em solid;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 5.5s steps(30, end), blink-caret 0.3s step-end infinite;
}

.sktech {
  width: 580px;
  height: 580px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.btn {
  text-transform: capitalize;
  margin-top: 20px;
  padding: 15px 30px 15px 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 50px;
  border: 2px solid RGB(232, 231, 231);
  background-color: RGB(255, 85, 85);
  font-family: "Press Start 2P", system-ui;
  color: RGB(232, 231, 231);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.links {
  padding-top: 35px;

  display: flex;
  gap: 22px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.logo-link {
  width: 62px;
  height: 62px;
}
.logo-link-adjust {
  width: 66px;
  height: 66px;
}

.madebydetail {
  color: RGB(232, 231, 231);
  font-family: "Press Start 2P", system-ui;
  text-transform: capitalize;
  text-align: center;
  font-size: 10px;
  padding-top: 2vh;
  padding-bottom: 5vh;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.box-transition:hover {
  transform: scale(1.1);
}

.underline:hover {
  text-decoration: underline;
  color: RGB(122, 111, 254);
}


@media screen and (max-width: 600px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  body {
    
    background-color: RGB(32, 32, 32);

   
    padding-bottom: auto;
  }
  nav {
    background-color: RGB(32, 32, 32);
    padding-top: 3vh;
    padding-bottom: 1vh;
    margin-bottom: 6vh;
    border-bottom: 2px solid RGB(122, 111, 254);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10vw;
  }

  .item-list {
    list-style: none;
  }
  .logo {
    width: 45px;
    height: 35px;

  }

  .press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
    color: RGB(232, 231, 231);
  }


  .overpass-mono {
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    font-size: 20px;
    color: RGB(122, 111, 254);
    opacity: 0;
    animation: in 3s ease-out forwards;
    animation-delay: 1s;
    padding-left: 14vw;
    padding-bottom: 3vh;
  }
  @keyframes in {
    0% {
      letter-spacing: -12px;
      opacity: 0;
    }
    30% {
      letter-spacing: 2px;
      opacity: 1;
    }
    100% {
      letter-spacing: 13px;
      opacity: 1;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: RGB(140, 255, 241);
    }
  }
  .overpass-mono-style {
    text-align: center;
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    font-size: 15px;
    color: RGB(140, 255, 241);
    padding-top: 2vh;
    overflow: hidden;
    border-right: 0.15em solid;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 5.5s steps(30, end), blink-caret 0.3s step-end infinite;
  }

   .sktech {
    padding-left: 18vw;
    padding-top: 4vh;
    width: 0px;
    height:0px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  } 

  .btn {
    margin-left:31vw;
    text-transform: capitalize;
    margin-top: 6vh;
    padding: 10px 30px 10px 30px;
    text-align: center;
    font-size: 7px;
    border-radius: 50px;
    border: 2px solid RGB(232, 231, 231);
    background-color: RGB(255, 85, 85);
    font-family: "Press Start 2P", system-ui;
    color: RGB(232, 231, 231);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .links {
    padding-top: 5vh;
    text-align: center;

    display: flex;
    gap: 0vw;
    justify-content: space-around;
    align-items: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .logo-link {
    width: 32px;
    height: 32px;
  }
  .logo-link-adjust {
    width: 36px;
    height: 36px;
  }

  .madebydetail {
    color: RGB(232, 231, 231);
    font-family: "Press Start 2P", system-ui;
    text-transform: capitalize;
    text-align: center;
    font-size: 7px;
    margin-top: 5vh;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .box-transition:hover {
    transform: scale(1.1);
  }

  .underline:hover {
    text-decoration: underline;
    color: RGB(122, 111, 254);
  }
}
